airflow_app/logs/
airflow_app/dags/__pycache__/
airflow_app/dags/helpers/__pycache__/
postgresql_app/postgresql_app/*
credentials.json
airflow_app/dags/testing_dag.py
data_dummy/
data_generation/
Capstone3_RizkyFajarAditya.pptx
Capstone3_Brief.pdf
Capstone3_RizkyFajarAditya_present.pdf